.homeContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.buttons{
    display: inline;
    align-items: center;
    margin-top: 25px;
}

.buttons button{
    width: 200px;
    height: 50px;
    margin: 10px;
    font-size: large;
    font-weight: bold;
}

.startButton {
    background-color: rgb(123, 187, 255);
    border: 4px rgb(109, 165, 255) solid;
    border-radius: 7px;
}

.tutButton {
    background-color: lightgray;
    border: 4px rgb(181, 181, 181) solid;
    border-radius: 7px;
}