.row{
    display: flex;
}

.empty-square{
    width: 50px;
    height: 50px;
    border: 3px #2f5899 solid;
    margin: 1px;
    border-radius: 5px;

}
.rock-square{
    width: 50px;
    height: 50px;
    background-color: gray;
    border: 3px #636363 solid;
    margin: 1px;
    border-radius: 5px;

}
.letter-square{
    width: 50px;
    height: 50px;
    background-color: #91622c;
    border: 3px #5c3e1c solid;
    margin: 1px;
    border-radius: 5px;


}
.start-square{
    width: 1px;
    height: 50px;
    border: 3px #f03c27 solid;
    margin: 1px;
    border-radius: 5px;
}
.empty-start-square{
    width: 1px;
    height: 50px;
    border: 3px white solid;
    margin: 1px;
    border-radius: 5px;
}

