.row{
    display: flex;
}

.board{
    margin-top: 30px;
}

.square{
    height: 50px;
    width: 50px;
}


.tile-divider{
    width: 25%;
    pointer-events: none;
}

.tile-value{
    text-align: center;
    width: 50%;
    pointer-events: none;
}

.tile-point{
    margin-top: 70%;
    text-align: center;
    font-size: 12px;
    width: 25%;
    pointer-events: none;
}

.empty-square{
    border: 4px rgb(176, 176, 176) solid;
    margin: 2px;
    border-radius: 7px;
    background-color: lightgray;
}
.empty-square-final{
    border: 4px black solid;
    margin: 2px;
    border-radius: 7px;
    background-color: lightgray;
}
.rock-square{
    background-color: transparent;
    margin: 6px;
    border-radius: 7px;

}
.letter-square{
    background-color: #ffe27a;
    border: 4px #f1c52f solid;
    border-radius: 7px;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: grab;
}
.letter-square-final{
    background-color: #ffe27a;
    border: 4px black solid;
    border-radius: 7px;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: grab;
}

@media (max-width:700px) {
    .square{
        width: 40px;
        height: 40px;
    }
}