.singleTile{
    width: 54px;
    height: 54px;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    /* background-image: url("/src/assets/tiles/TileSingle.png"); */
}
.wholePiece{
    display: flex;
}
.tile-divider{
    width: 25%;
    pointer-events: none;
}

.tile-value{
    text-align: center;
    width: 50%;
    pointer-events: none;
}

.tile-point{
    margin-top: 70%;
    text-align: center;
    font-size: 12px;
    width: 25%;
    pointer-events: none;
}

.row{
    display: flex;
}
.empty{
    width: 54px;
    height: 54px;
    border: red solid;
    border-radius: 5px 0px 0px 5px;
    border-width: 1px 0px 1px 1px;
}
.emptytwo{
    width: 54px;
    height: 54px;
    border: red solid;
    border-radius: 0px 5px 5px 0px;
    border-width: 1px 1px 1px 0px;
}

.letterContainer{
    display: flex;
}