.tutorialContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.pageTitle,
.gameplayTitle{
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    padding-top: 30px;
}

.gameplayTitle{
    padding-top:0px;
    margin-bottom: 30px;
}

.description p,
.scoringTutorial p{
    width: 500px;
    text-align: center;
    font-size: 16px;
}

.rowOne {
    display: flex;
}

.tutorialOne{
    display: flex;
    flex-direction: column;
    margin-top: 45px;
}

.tutorialOne p,
.tutorialTwo p{
    margin: 5%;
    width: 250px;
    text-align: center;
    font-size: 16px;
}

.tutorialOneGif {
    object-fit: contain;
    width: 250px;
}

.tutorialTwo {
    display: flex;
    flex-direction: column;
}
.tutorialTwo img{
    width: 250px;
}



.barrier{
    width: 100px;
}

.tutorialThree {
    display: flex;
    flex-direction: column;
}

.tutorialThree img{
    width: 250px;
}
.tutorialThree p{
    margin: 5%;
    width: 250px;
    text-align: center;
    font-size: 16px;
}

.scoringTitle{
    display: flex;
    justify-content: center;
    font-size: 35px;
    font-weight: bold;
}


.scoringGif{
    width: 200px;
    object-fit: contain;
}

.scoringTutorial{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.back-button {
    width: 150px;
    height: 40px;
    background-color: lightgray;
    border-radius: 7px;
    border: 4px rgb(181, 181, 181) solid;
    font-weight: bold;
}

@media (max-width: 700px){
    .description p{
        width:90vw;
        text-align: center;
    }
    .tutorials {
        width: 90vw;
        display: flex;
        flex-direction: column;
    }
    .tutorials img {
        width: 200px;
    }
    .tutorials p{
        width: 200px;
    }
    .rowOne{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .barrier{
        width: 0px;
    }
    .scoringTutorial p {
        width: 90vw;
    }
}